Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [12]:
for i in range(2000,3200):
    if (i%7==0) and (i%5==0):
        n.append(i)

In [11]:
n = []

In [13]:
n

[2030,
 2065,
 2100,
 2135,
 2170,
 2205,
 2240,
 2275,
 2310,
 2345,
 2380,
 2415,
 2450,
 2485,
 2520,
 2555,
 2590,
 2625,
 2660,
 2695,
 2730,
 2765,
 2800,
 2835,
 2870,
 2905,
 2940,
 2975,
 3010,
 3045,
 3080,
 3115,
 3150,
 3185]

Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [39]:
a = input('Enter your first name: ')
b = input('Enter your last name: ')
print('your name is' ' ' +b+ ' '  +a)

Enter your first name: Harsha
Enter your last name: Teja
your name is Teja Harsha

In [20]:
c = 'harsha '

Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r
3

In [47]:
d = 12
pie = 3.41

In [49]:
v =(4/3)*pie*12**3
print('volume of a sphere with diameter 12 cm : ' ,v)

volume of a sphere with diameter 12 cm :  7856.64

3.
Write a Python program to reverse a word after accepting the input from the user.

In [52]:
a = input('Enter your name:-')
b = a[::-1]
print(b)

Enter your name:-Harsha
 ahsraH

Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [69]:
a = input('Input some comma seprated numbers :')
b = a.split(' , ')
print('List_' ,b)

Input some comma seprated numbers :5,gg,66,55
List_ ['5,gg,66,55']

In [72]:
rows = int(input("Enter max star to be display on single line "))
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

Enter max star to be display on single line 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [83]:
print("WE, THE PEOPLE OF INDIA,\n      having solemnly resolved to constitute India into a SOVEREIGN, ! \n           SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to \n              secure to all its citizens")

WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute India into a SOVEREIGN, !
           SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to
            secure to all its citizens